@import 'header';
@import 'footer';


$color: #111111; 
$main-font-family: 'Mulish'; 

body {
    background-color: white;
    color: $color;
    margin: auto;
    width: 1079px;
    height: 106px;
    margin-bottom: 30px;
}

.top-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.title-container h3 {
    color: #4A4FF2;
    font-family: $main-font-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
}

.title-container h1 {
    color: $color;
    font-family: $main-font-family;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

.quote-container  {
    width: 50%;    
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-self: flex-end;
    color: $color; 
    opacity: 0.6;
    font-family: $main-font-family;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    order: 2;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  align-items: start;
  }
  
  .h2-container {
    grid-column: 1 / 2;
    color: $color;
    font-family: $main-font-family;
  }
  
  .list-container {
    grid-column: 2 / 3;
    color: $color;    
    font-family: $main-font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
  }

  .group1 {
    grid-column: 1 / 2; 
  }
  
  .group2 {
    grid-column: 1 / 2; 
  }
  
  .list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


hr {
  width: 1110px;
  height: 2px;
  flex-shrink: 0;
  background: #D8D8D8;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.award-list {
  display: grid;
  /*grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.award-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  margin-bottom: 20px; 
}

.first-column {
  grid-column: 1 / 2;
  color: $color;
  font-family: $main-font-family;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.second-column {
  grid-column: 2 / 3; 
  padding: 5px;
  color: $color;
  font-family: $main-font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.award-subtitle2 {
  grid-row: 3;
}

.third-column {
  grid-column: 3 / 4;
  color: $color;
  font-family: $main-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  opacity: 0.6; 
}

.fourth-column {
  grid-column: 4 / 5;
  color: $color;
  font-family: $main-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.award-details2 {
  grid-column: 3 / 4; 
  grid-row: 3 / 4; 
}

.award-description2 {
  grid-column: 4 / 5; 
  grid-row: 4 / 5; 
}



